
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

    </div>
  </div>
</div>
 <h3>My name is Alhaji</h3>

<app-servers></app-servers>


<!--Assignment Solution, Two way Binding-->
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{ username }}</p>
<button class="btn btn-primary" [disabled]="username === ''" (click)="username='' " >Reset User</button>
